Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-assignment-in-if-condition,
  -bugprone-switch-missing-default-case,
  -bugprone-branch-clone,
  clang-analyzer-core.*,
  clang-analyzer-unix.*,
  clang-analyzer-security.*,
  -clang-analyzer-security.insecureAPI.*,
  clang-analyzer-cplusplus.*
HeaderFilterRegex: '/delegate/'
WarningsAsErrors: ''
